---
---

@mixin background-image($url){
  background-image: url($url);
  background-size: cover;
  background-position: center;
}

@mixin max-size {
  height: 100%;
  width: 100%;
}

@mixin pos-size($height, $width, $top, $left) {
  height: $height;
  width: $width;
  top: $top;
  left: $left;
}

html, body, {
  margin: 0;
}

body {
  background-color: #ececec;

  .main-header {
    position: relative;
    margin: 30px auto;
    margin-bottom: 30px;
    max-width: 1015px;
    height: 281px;
    @include background-image('../images/alps.jpg');
    h1 {
      left: 20px;
      bottom: 0;
      position: absolute;
      font-family: Droid Serif;
      color: white;
      margin: 20px 0;
      font-size: 3em;
    }
  }

  .footer {
    width: 100%;
    text-align: center;
     h1 {
      font-family: Droid Serif;
      color: white;
      margin: 20px 0;
    }
  }


  .info-container{
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 995px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 40px black;

    .about-content {
      padding: 10px;
      position: relative;
      background-color: #f9f9f9;
      border: 1px solid #d3d3d3;
      font-family: Droid Serif;
      font-size: 16px;
    }

  }

  .image-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1015px;
    height: 1027px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 40px black;

    div {
      position: absolute;
      text-align: center;
    }

    .home {
      h1 {
        font-family: Droid Serif;
        font-size: 50px;
        top: 35%;
        opacity: 0;
        z-index: 2;
        position: relative;
      }
    }

    .home:hover {
      .main-img {
        opacity: .5;
      }
      h1 {
        opacity: 1;
      }
      a {
        @include max-size;
        display: block;
        position: absolute;
        top: 0;
      }
    }

    .dogs {
      @include pos-size(637px, 500px, 5px, 5px);
      .main-img {
        @include background-image('../images/TaylorSara.jpg');
        @include max-size;
      }
    }
    .puppies {
      @include pos-size(328px, 500px, 382px, 510px);
      .main-img {
        @include background-image('../images/Annie.JPG');
        @include max-size;
      }
    }
    .lost {
      @include pos-size(375px, 500px, 647px, 5px);
      .main-img {
        @include background-image('../images/Austin.JPG');
        @include max-size;
      }
    }
    .links {
      @include pos-size(307px, 500px, 716px, 510px);
      .main-img {
        @include background-image('../images/Harley.jpg');
        @include max-size;
      }
    }
    .about {
      @include pos-size(373px, 500px, 5px, 510px);
      .main-img {
        @include background-image('../images/Taylor.jpg');
        @include max-size;
      }
    }
  }
}











